.payslip-section p { 
  font-weight: normal; /* Ensure that non-amount text is normal weight */ 
}

.payslip-section p span { 
  font-weight: bold; 
  font-size: 1.2rem; /* Increase font size of the amounts */ 
}

.net-pay-section { 
  font-size: 1.5rem; /* Increase font size for the net pay section */ 
  font-weight: bold; /* Ensure all amounts in this section are bold */ 
}

.btn-primary { 
  background-color: #065200; 
  border-color: #7339ab; 
}

.btn-primary:hover { 
  background-color: #1100ff; 
  border-color: #1100ff; 
}

.btn-secondary { 
  background-color: #1f9ce4; 
  border-color: #1f9ce4; 
}

.btn-clear { 
  background-color: #ff0000; 
  margin-top: 8px; 
  border-radius: 10px; 
  width: 141px; 
  height: 45px; 
  color: white; 
}

.btn-secondary:hover { 
  background-color: #1100ff; 
  border-color: #1100ff; 
}

.btn-success { 
  background-color: #7339ab; 
  border-color: #7339ab; 
}

.btn-success:hover { 
  background-color: #625ad8; 
  border-color: #625ad8; 
}

.btn-info { 
  background-color: #1f9ce4; 
  border-color: #1f9ce4; 
}

.btn-info:hover { 
  background-color: #88f4ff; 
  border-color: #88f4ff; 
}

.form-control { 
  border: 1px solid #1f9ce4; 
}

.form-control:focus { 
  border-color: #7339ab; 
  box-shadow: 0 0 0 0.2rem rgba(115, 57, 171, 0.25); 
}

@media print { 
  body * { 
      visibility: hidden; 
  } 
  .payslip, .payslip * { 
      visibility: visible; 
  } 
  .payslip { 
      position: absolute; 
      left: 0; 
      top: 0; 
      width: 100%; 
  } 
}

.net-pay-section p { 
  font-size: 1.5rem; /* Increase font size for net pay section */ 
  font-weight: bold; /* Make text bold */ 
}

.net-pay-section p span { 
  font-size: 1.5rem; /* Ensure amounts are larger */ 
  font-weight: bold; /* Make amounts bold */ 
}
.payslip {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.payslip h2 {
  margin-bottom: 20px;
  color: #007bff;
}
.payslip-section {
  margin-bottom: 15px;
}
.payslip-section p {
  margin: 5px 0;
}
.net-pay-section {
  font-weight: bold;
}
.payslip hr {
  margin: 20px 0;
}
